<footer class="footer">
    <div class="container">
        <h1>
            Impressum
        </h1>
        <p class="text-muted">Henrik & Hans UG (Haftungsbeschrankt), Osloer Str. 117, 53117 Bonn, Germany</p>
    </div>
</footer>